<section class="containerview">
    <article class="container-form">
        <form>
            <span class="inner-addon left-addon">
                <i class="fas fa-search"></i>
                <input type="text" placeholder="Buscar empleo" />
            </span>

            <span class="inner-addon left-addon">
                    <i class="fas fa-map-marker-alt"></i>
                <input type="text" placeholder="Ingresar ubicacion"/>
            </span>


            <select required>
                <option value="" disabled selected hidden>Estado</option>
                <option *ngFor="let state of status" [ngValue]="state">{{state}}</option>
            </select>
        </form>

        <div class="headerview">
            <h1>Solicitud de avisos</h1>
            <div class="subHeaderView">
                <p>Mas recientes</p>
                <img src="../../../assets/img/flecha.png" alt="">
                <img src="../../../assets/img/Filas.png" alt="">
                <img src="../../../assets/img/Vector.png" alt="">
            </div>

        </div>
    </article>


    <table class="containervacanciestitles">
        <thead>
            <tr class="titles">
                <th class="one">Titulo <img src="../../../assets/img/flecha.png" alt=""></th>
                <th>Estado <img src="../../../assets/img/flechablack.png" alt=""> </th>
                <th>Publicado <img src="../../../assets/img/flechablack.png" alt=""></th>
                <th>Jornada <img src="../../../assets/img/flechablack.png" alt=""></th>
            </tr>
        </thead>
        <tbody>
            <tr class="titles" *ngFor="let vacant of vacancies">
                <td class="containerOne">
                    <div class="subcontainerOne">
                        <div><img src="../../../assets/img/image.png"></div>
                        <div>
                            <p>{{vacant.jobName}}</p>
                            <p class="sub-title"> {{vacant.business}}</p>
                        </div>
                    </div>
                </td>
                <td class="Containertwo">
                    <div class="subContainertwo">
                        <div class="subbContainertwo">
                            <img src="../../../assets/img/starVector.png" alt="">
                            <button [ngClass]="{'btnrejected': vacant.status == 'Rechazado' , 'btnapproved':vacant.status != 'Rechazado' }">{{vacant.status}}</button>
                        </div>
                    </div>
                </td>
                <td class="container-three">

                    <div class="subcontainer-three">
                        <img src="../../../assets/img/reloj.png" alt=""> {{vacant.startDate}}
                    </div>
                    <p class="sub-title">Publicado</p>

                </td>
                <td class="container-four">
                    <div class="subcontainer-four">
                        <img src="../../../assets/img/maletin.png" alt=""> {{vacant.workDay}}
                    </div>
                    <p class="sub-title">Jornada</p>
                </td>
            </tr>
        </tbody>
    </table>