
<div class="login-screen">
        <div className="login-box-left">
        <img src='../../../../assets/img/Logo.png' alt='' class="login-logo" />
        <h1 className="login-h1">Conecta con tus postulantes con las mejores ofertas</h1>
   
        <app-login></app-login>
        <div class ="section-7">
            <h6 class="h6">¿Ya tienes cuenta?</h6><a routerLink="/register" class="link-login">Iniciar sesion</a>
        </div>
    </div>
        <div className="login-box-right"> 
                <app-select></app-select>
        </div>

    </div>