<div class="ContainerInstitution">
  <h2>Perfil Institución</h2>
  <div class="institutionData">

    <div class="fileinfo2">
      <label>Pagina Web</label>
      <input type='text' />
    </div>
    <div class="fileinfo1">
      <label>Teléfono</label>
      <input type='text' />
      <input type='text' />
      <label>Teléfono Adicional (Opcional)</label>
      <input type='text' />
      <input type='text' />
    </div>

    <div class="fileinfo2">
      <label>Pagina Web</label>
      <input type='text' />
    </div>
    <div>
      <label>Facebook</label>
      <input type='text' />
      <label>Linkedin</label>
      <input type='text' />
    </div>
    <div>
      <label>Youtube</label>
      <input type="text" />
      <label>Twitter</label>
      <input type='text' />
    </div>
  </div>

  <div ><button class="btnColor">Terminar</button><button class="btnColor">Atrás</button></div>

</div>
