<div class="containerInstitutionProfile">

  
      <h2>Perfil Institución</h2>
      <div class="imgPerfilInst col-1">
    
        <div class="logo">
        <img href='' alt=''>
        <h2 class="titleComponent">Sube tu logo</h2>
        <p class="texLabelInput">Esta foto aparecerá en tu perfil. Debe medir 235px x 65px</p>
        <div class="color">
        <img href='' alt=''>
        <h2 class="titleComponent">Escoge color</h2>
        <p class="texLabelInput">Se sugiere que sea el color corporativo </p>
          <div class="inicio">
        <img href='' alt=''>
        <h2 class="titleComponent">Sube tu foto de inicio</h2>
        <p class="texLabelInput">Esta foto aparecerá en tu login de bolsa de trabajo. Debe medir 975px x 720px</p>
    
      </div>
    
      <div class="modification"> <img href='' alt=''></div>
    
      <div class="institutionData">
    
        <img href='' alt=''>
        <div class="fileinfo1">
        <label>Nombre de la Institución</label>
        <input type='text'/>
        <label>Razón Social</label>
        <input type='text'/>
        </div>
        <div class="fileinfo2">
        <label>Dirección</label>
        <input type='text'/>
        <label>Ciudad</label>
        <input type='text'/>
        <label>País</label>
        <input type='text'/>
        </div>
        <div class="fileinfo3">
        <label>Fecha de Registro (No editable)</label>
        <input type="date"/>
        <label>Última modificación (No editable)</label>
        <input type='date'/>
        </div>
        <hr/>
        <div class="decription">
        <label>Breve descripción de la Institución</label>
        <input class="" type="textarea"/>
        </div>
        <div class="google">
        <label>Google Analytics</label></div>
        <input type='text'/>
        <div class="count"> 
        <p class="num">0</p>
        <p class="textcount">Avisos</p>
        <p class="num">0</p>
        <p class="textcount">Vínculos</p>
        <p class="num">0</p>
        <p class="textcount">Postulantes</p> 
        </div>
      </div>
    <div ><button class="btnColor">Atrás</button> <button class="btnColor">Siguiente</button></div>
  
    </div>
  