@import url('https://fonts.googleapis.com/css?family=Mada:400,500,600,700&display=swap');
* {
  font-family: "Mada";
}
/* Informacion de perfil */
.containerInstitutionProfile {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  height: 100vh;
  font-family: 'Mada';
  background-color: #E5E5E5;
 
}

.imgPerfilInst{
  display:flex;
  flex-direction: column;
  width: 25%;
  align-items: center;
  margin: 5% 2%;
}
h2{
  font-weight: bold;
  font-size: 24px;
  line-height: 31px;
  color: rgb(166, 173, 173);
  margin-left:5%;
  margin-top: 1%;
}
.titleimgPerfilInst{
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  color: #00BCA0;
  text-align: center;
  
}
.textimgPerfilInst{
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  text-align: center;
  color: #5E807F;
}
.title{
  width: 100%;
  display: flex;
  height: 30px;
  margin-top: 10%;
  
} 
.contDatos{
  display: flex;
  width: 100%;
  margin-top: 3%;
  background: #E5E5E5;
}

.institutionData {
  display: flex;
  flex-direction: column;
  width: 75%;
  margin-top: 1%;
  justify-content: center;
  
}
.fileinfo1, .fileinfo2, .fileinfo3{
  display: flex;
}
.fileinfo3{
  border-bottom: 4px solid #DEE5E5;
  
}

.subtitle{
  font-style: normal;
  font-weight: 600;
  font-size: 21px;
  line-height: 27px;
  display: flex;
  align-items: center;
  color: #00BCA0;
  margin: 2% 0;
}
.input-text{
  background: #FFFFFF;
  border: 1px solid #CEF8ED;
  box-sizing: border-box;
  border-radius: 6px;
  width: 90%;
  height: 25px;
}
.input-date{
  background: #DEE5E5;
  border-radius: 6px;
  width: 50%;
  height: 40px;
  color: #ACB3B3;
  margin-bottom: 5%;
  
}
p{
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  color: #5E807F;
  margin: 3%;
}

.fileinfo1-1, .fileinfo1-2{
  display: flex;
  width: 45%;
  height: 10vh;
  flex-direction: column;
}

.fileinfo2-1, .fileinfo2-2, .fileinfo2-3{
  display: flex;
  width: 33%;
  height: 10vh;
  flex-direction: column;
}
.fileinfo3-1, .fileinfo3-2{
  display: flex;
  width: 35%;
  margin-right: 3%;
  margin-left: 1%;
  height: 10vh;
  flex-direction: column;
}

.container-info{
  display: flex;
  width: 100%;
}

.description{
  width: 65%;
  display: flex;
  flex-direction: column;
}

.input-textarea{
  background: #FFFFFF;
  border: 1px solid #CEF8ED;
  box-sizing: border-box;
  border-radius: 6px;
  width: 95%;
  height: 80px;
}

.cont-analitics{
  display: flex;
  flex-direction: column;
  width: 30%;
  height: 20%;
  
}
.google{
  width: 100%;
  justify-self: flex-end;
  margin-top: 6%;
}
.count{
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.counter{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin-top: 15%
}

.textcounter, .num{
  font-style: normal;
  font-weight: 600;
  font-size: 10px;
  line-height: 13px;
  color: #5E807F;
  text-align: center;
}

.buttonpag{
  width: 100%;
  height: 35px;
  
  display: flex;
  justify-content: flex-end;
}
.btn-atras{
  border: 1px solid #ACB3B3;
  box-sizing: border-box;
  border-radius: 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  text-align: center;
  color: #ACB3B3;
  height: 30px;
  width: 20%;
  margin:3%;
}
.btn-next{
  height: 30px;
  width: 20%;
  background: #DEE5E5;
  border: 1px solid #ACB3B3;
  border-radius: 5px;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  color: #FFFFFF;
  margin:3%;
}
